@import "vendors/tailwind";

@import "base/fonts";
@import "base/typography";

@import "components/card";
@import "components/banner";
@import "components/header";
@import "components/table";
@import "components/footer";
@import "components/pagination";

* {
    color: #364146;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    @apply container max-w-screen-xl flex flex-wrap justify-between items-center py-6 mx-4;

    @screen md {
        @apply mx-auto grid grid-cols-2 gap-6 px-2;
    }

    @screen lg {
        @apply grid-cols-3 gap-6 px-0;
    }
}

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0;
    }
}

.inset-0 {
    z-index: 999 !important;
}

.label-file {
    color: #a0aec0;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;

    @apply relative cursor-pointer border-dashed bg-white shadow-sm block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 rounded-md;

    &:focus {
        @apply outline-none ring-green-500 border-green-500 z-10;
    }

    @screen sm {
        @apply text-sm;
    }
}

input[type="file"].custom-file {
    @apply hidden border-dashed #{!important} cursor-pointer;
}

input[type="file"]::-webkit-file-upload-button {
    display: none !important;
}

.error-form-input,
input[type="file"].error-form-input {
    @apply border-red-500 bg-red-100 placeholder-red-300 #{!important};
}