.main-card {
    @apply w-full h-full bg-white p-4 text-gray-800 border border-gray-300 rounded-md;
}

.btn-card {
    @apply py-1 uppercase font-semibold rounded-sm w-full bg-diskominfo-base text-white leading-7 text-center text-xs inline-block;

    &:hover {
        @apply bg-diskominfo-light;
    }
}

.form-card {
    font-family: 'Inter', sans-serif !important;
    background: #f9fafb !important;

    @apply border border-gray-400 rounded-md p-4;
}
