footer {
    margin-top: auto;
}

.footer {
    clear: both;
    position: relative;
    @apply border-t w-full;
}

.footer-head {
    padding: 60px 0 30px 0;
    @apply flex flex-col container max-w-screen-sm mx-auto justify-between items-center py-6;

    @screen lg {
        @apply flex flex-row max-w-screen-xl #{!important};
    }
}

.footer-body {
    @apply bg-diskominfo-base text-center flex flex-col py-7 text-white;
}

.footer-social {
    @apply mr-1 border border-gray-200 items-center rounded-full py-2 px-3 #{!important};

    &:hover {
        @apply bg-diskominfo-light text-white #{!important};
    }
}

.footer-social:hover i {
    color: white;
}

.footer-addrees {
    @apply order-last mx-4 mt-4;

    @screen lg {
        @apply order-first m-0;
    }
}

.footer-map {
    @apply order-first;

    @screen lg {
        @apply order-last;
    }
}
