.swal2-title {
    font-size: 1.25rem !important;
    line-height: 1.75rem;
    color: rgba(31, 41, 55, var(--tw-text-opacity)) !important;
}

.swal2-container.swal2-center > .swal2-popup {
    padding: 16px;
}

.swal2-actions {
    padding: .8em 1em !important;
    margin: 0 !important;
}
